@model Neha_Cards.Models.Cards

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cards</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desgin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desgin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
